<html>
  <head><title>AI Code test</title></head>
  <body>
  	<h1>
  	</h1>
  	<p>
  	<% if (error) { %>
	  <h2><%= error %></h2>
	<% } else { %>
	<h3>Top 10 words</h3>

  	<pre>
  		<%= JSON.stringify(wordsCount, null, "\t") %>;
  	</pre>
  	</p>
  	<h3>Output</h3>
  	<p>
  		<pre>
        <%= JSON.stringify(data, null, "\t") %>;
		</pre>
	</p>
	<% } %>
  </body>
</html>
